@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    /* background-size: cover; */
    background-size: cover;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url("https://wikicity.kz/fotos/Company_26930_p1pkTTVby2Cb136VJ84LGZm.jpeg");
}

.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 80vh;
}

.main_div h1{
    font-size: 62px;
    font-family: 'Open Sans';
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
}
.main_div h3{
    
    margin-top: 10px;
    font-size: 22px;
}

.div_class_for_button_get_started{
    font-family: 'Source Sans Pro';
    justify-content: center;
    display: flex;
}

.button_get_started{
    background-image:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    font-family: 'Source Sans Pro';
    /* font-family: sans-serif; */
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid white;
    color: white;
    margin-top: 50px;
    width: 160px;
    height: 40px;
    font-weight: bold;
}

.div_class_for_button_get_started :hover {
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    font-weight: bold;
    color: black;
    background-color: white;
    transition: 0.3s ease;
   }